/*
Main files where load all the rest files
*/

/* LAYOUTS */
.l-container-hero {
  width: 100%; // Valor por defecto
  padding: 0 1rem;

  @include tablet {
    width: 75%;
    margin: auto;
    padding-top: 2rem;
    padding: 0 0rem;
  }

  @include desktop {
    width: 80%; // Para pantallas mayores a 1024px
  }

  @include desktopXL {
    width: 80%;
  }

  @include desktop2XL {
    width: 55%;
  }
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); // Por defecto una columna
  grid-template-rows: auto;
  gap: 10px;

  @include desktop {
    grid-template-columns: repeat(2, 1fr); // Dos columnas para desktop
  }
}

.l-header {
  width: 100%; // Valor por defecto
  position: relative;
  margin: auto;
  background-color: red;
  @include desktop {
    width: 80%;
  }

  @include desktopXL {
    width: 80%;
    background-color: red;
  }

  @include desktop2XL {
    background-color: red;
    width: 55%;
  }
}

// PARTE 2

.l-hero {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.9), rgb(0 0 0 / 0.4)),
    url("./assets/img/hero-main-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  padding-bottom: 14rem;
}

.l-baner-about {
  height: 50vh;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.6), rgb(0 0 0 / 0)),
    url("./assets/img/about-main-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 10rem;

  @include tablet {
    height: 80vh;
    margin-top: 20rem;
  }
}

.l-nosotros {
  width: 90%;
  margin: 0rem auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 10rem 0;
    width: 70%;
  }
}

.l-servicios {
  width: 90%;
  margin: 0 auto;

  @include tablet {
    display: flex;
    padding: 0rem 0rem 15rem 0rem;
    flex-direction: column;
    align-items: end;
  }
}

.l-container-proceso-contratacion {
  width: 90%;
  margin: 10rem auto 5rem auto;
  background-color: #202121;
  padding: 5rem 1rem 4rem 1rem;
  border-radius: 10px;

  @include tablet {
    width: 70%;
    padding: 4rem 3rem;
  }
}

.l-container-proceso-pasos-contratacion {
  width: 90%;
  margin: 0rem auto 0rem auto;
  background-color: #202121;
  padding: 3rem 0rem 0rem 0;
  border-radius: 10px;

  @include tablet {
    width: 70%;
  }
}

.l-proceso-contratacion-img {
  width: 100%;
  height: 25vh;
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.9), rgb(0 0 0 / 0.8)),
    url("./assets/img/galeria6.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
  border-radius: 0rem 0rem 15px 15px;
  background-position: top;
  @include tablet {
    height: 50vh;
  }
}

.l-galeria {
  margin: 0rem auto;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
}

.l-galeria > .header-text {
  width: 90%;

  @include tablet {
    width: 70%;
  }
}

.l-preguntas {
  margin: 0rem auto;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262727;
}

.l-contactanos-banner {
  width: 100vw;
  height: 80vh;
  background: url("./assets/img/contactanos banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.l-contactanos {
  width: 90%;
  margin: 13rem auto 0 auto;
  @include tablet {
    width: 40%;
  }
}

.l-gradiente-contactanos {
  background-color: #212121;
  padding-bottom: 65rem;
  overflow: hidden;
  @include tablet {
    padding-bottom: 60rem;
  }
}
